
        body, html {
            margin: 0 !important;
            padding: 0 !important;
            overflow: hidden;
            background-color: #121212 !important;
        }
        .dash-graph {
            margin: 0 !important;
            padding: 0 !important;
        }
    